@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    font-family: 'Bakbak One', cursive;
    font-size: 1.1rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-left{
    align-self: flex-start;
}

.item-right{
    align-self: flex-end;
    flex-basis: auto;
    flex-grow: initial;
}
